<!DOCTYPE html>
<html>
<head>
    <title>Find coscom audio file</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div class="container" style="max-width: 600px;">
		<h1>Find coscom audio file</h1>
		<p class="lead">
			To find audio file in coscom japanese school website,
			enter the <b>coscom japanese school link</b> :
		</p>
		<p class="lead">
			example link : <a href="https://www.coscom.co.jp/newsweather/news/news_web-r.html">coscom japanese school</a>
		</p>
		<form method="POST">
			<div class="form-group">
				<input id="input-link" type="text" placeholder="https://www.coscom.co.jp/newsweather/news/news_web.html" class="input-lg form-control">
				</input>
			</div>
			<button id="find-btn" type="button" class="btn btn-primary">Find the audio file</button>
		</form>
		<div id="result"></div>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="js/index.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</div>
</body>
</html>	